/**
 * Widget and shortcode stylesheet.
 */

.ipma-widget-wrapper {
	font-family: arial, sans-serif;
	max-width: 300px;
	width: 100%;
}

.ipma-widget-wrapper .hidden {
	display: none;
}

.ipma-widget-logo {
	margin: 15px 0;
}

.ipma-widget-logo img {
	display: block;
	margin: 0 auto;
}

.ipma-widget-title {
	font-size: 24px;
	color: #949596;
	text-transform: uppercase;

}

.ipma-widget-unavailable:before {
	content: "";
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 64px;
	height: 56px;
	background-position: -75px -5px;
	position: relative;
	margin-bottom: 30px;
}

.ipma-widget-wrapper .ipma-widget-unavailable {
	float: left;
	text-align: center;
	margin-top: 70px;
}

.ipma-widget-wrapper .ipma-widget-unavailable h5 {
	font-size: 14px;
	color: #b1b5c5;
    text-transform: none;
    font-weight: normal;
}

/** Selects (Select2 override) styles **/

.ipma-widget-select-dropdown {
	font-family: arial, sans-serif;
}

.ipma-widget-header .ipma-widget-select {
	width: 100%;
}

.ipma-widget-header .select2-container {
	margin-bottom: 15px;
}

.ipma-widget-header .select2-container--default .select2-selection--single {
	color: #5d90db;
	border: 1px solid #5d90db;
	height: 40px;
}

.ipma-widget-header .select2-container--default .select2-selection--single .select2-selection__rendered  {
    color: #5d90db;
    font-size: 16px;
    line-height: 40px;
    padding-left: 40px;
    padding-right: 50px;
    position: relative;
 }

.ipma-widget-header .select2-container--default .select2-selection--single .select2-selection__rendered:before  {
    content: "";
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 19px;
    background-position: -29px -5px;
    top: 10px;
    left: 15px;
    position: absolute;
}

.ipma-widget-header .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    position: absolute;
    top: 0;
    right: 25px;
    width: 15px;
}

.ipma-widget-header .select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 8px;
    background-position: -5px -5px;
    border: none;
    margin: 0;
    left: 0;
    top: 17px;
}

.ipma-widget-header .select2-container--disabled .select2-selection--single .select2-selection__rendered  {
    color: #b1b5c5;
 }

/** Daily Forecasts **/

.ipma-widget-forecasts {
    size: 0;
    font-size: 0;
}

.ipma-widget-forecasts .ipma-widget-forecast {
	height: 35px;
	line-height: 15px;
	margin-top: 20px;
}

.ipma-widget-forecasts span {
	display: inline-block;
}

.ipma-widget-forecasts .ipma-widget-forecast-text {
	width: 100px;
	display: inline-block;
	height: 30px;
	vertical-align: middle;

}

.ipma-widget-forecasts .ipma-widget-forecast-title,
.ipma-widget-forecasts .ipma-widget-forecast-date {
	font-size: 12px;
	color: #333;
	text-transform: uppercase;
}

.ipma-widget-forecasts .ipma-widget-forecast-date {
	color: #c2c2c2;
	padding: 0;
	font-weight: bold; 
}

.ipma-widget-forecasts .ipma-widget-forecast-value {
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
	width: 40px;
	text-align: right;
}

.ipma-widget-forecasts .ipma-widget-forecast-minimum-temperature {
	color: #25a9e0;
}

.ipma-widget-forecasts .ipma-widget-forecast-maximum-temperature {
	color: #e7a609;
}

.ipma-widget-forecasts .ipma-widget-forecast-icon {
	display: inline-block;
	width: 35px;
	margin: 0;
	margin-left: 10px;
	vertical-align: middle;
}

.ipma-widget-forecasts .ipma-widget-forecast-icon img {
	height: auto;
	max-width: 100%;
	border: 0;
	border-style: none;
}

.ipma-widget-forecasts .ipma-widget-forecast-icon.disabled {
	visibility: hidden;
}


.ipma-widget-wrapper .ipma-widget-forecasts span.ipma-widget-forecast-precipitation {
	color: #949596;
	width: 60px;
	text-align: right;
}

.ipma-widget-forecasts .ipma-widget-forecast-precipitation > span {

}

.ipma-widget-forecasts .ipma-widget-forecast-precipitation sup {
	font-size: 10px;
	line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -5px;
}

.ipma-widget-forecasts .ipma-widget-forecast-precipitation:after {
    content: "";
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 17px;
    background-position: -53px -5px;
    margin-left: 5px;
    position: relative;
    top: 2px;
}



/** Horizontal mode view **/

.ipma-widget-wrapper.ipma-widget-horizontal {
	max-width: 1100px;
	margin: 0 auto;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-logo {
    display: inline-block;
    width: 180px;
    margin-bottom: 0;
    float: left;
    height: 135px;
    margin: 0;
    position: relative;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-logo img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-header {
	float: left;
	max-width: 280px;
	width: 60%;
	margin: 0;
	margin-left: 20px;
	margin-right: 45px;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts {
	float: left;
	max-width: 575px;
	width: calc(100% - 20px);
	margin: 20px 10px 0 -10px;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts .ipma-widget-forecast {
	height: 100px;
	width: 145px;
	float: left;
	margin-left: 35px;
	margin-top: 10px;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts .ipma-widget-forecast-text {

}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts .ipma-widget-forecast-title,
.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts .ipma-widget-forecast-date {
	display: block;
	padding: 0; 
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts .ipma-widget-forecast-icon {
	vertical-align: bottom;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts .ipma-widget-forecast-value {
	margin-left: 0;
	width: 40px;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts .ipma-widget-forecast-minimum-temperature {
	text-align: left;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-forecasts .ipma-widget-forecast-precipitation {
	width: 60px;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-unavailable {
	margin-left: 30px;
	margin-top: 40px;
}

.ipma-widget-wrapper.ipma-widget-horizontal .ipma-widget-unavailable h5 {
    float: right;
    line-height: 56px;
    font-size: 14px;
    margin-left: 10px;
}